	<persistence-unit name="${azienda}panjeapu">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>        
		<jta-data-source>java:/${azienda}DS</jta-data-source>
		<properties>
		    <property name="hibernate.show_sql" value="${showsql}"/>
		    ${hbm2ddlauto}
		    <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5InnoDBDialect"/>
		    <property name="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.SingletonEhCacheProvider" />
			<property name="hibernate.cache.provider_configuration" value="../ehcache.xml" />
			<property name="hibernate.cache.region_prefix" value="${azienda}"/>
			<property name="hibernate.cache.use_second_level_cache" value="true" />
			<property name="hibernate.generate_statistics" value="true" />
			<property name="hibernate.cache.use_structured_entries" value="true" />
			<property name="hibernate.cache.use_query_cache" value="true"/>
		    <property name="jboss.entity.manager.jndi.name" value="java:/${azienda}EntityManager"/>
		    <property name="jboss.entity.manager.factory.jndi.name" value="java:/java:/${azienda}EntityManagerFactory"/>
			<property name="hibernate.ejb.event.post-insert" value="org.hibernate.ejb.event.EJB3PostInsertEventListener,org.hibernate.envers.event.AuditEventListener" />
			<property name="hibernate.ejb.event.post-update" value="org.hibernate.ejb.event.EJB3PostUpdateEventListener,org.hibernate.envers.event.AuditEventListener" />
			<property name="hibernate.ejb.event.post-delete" value="org.hibernate.ejb.event.EJB3PostDeleteEventListener,org.hibernate.envers.event.AuditEventListener" />
			<property name="hibernate.ejb.event.pre-collection-update" value="org.hibernate.envers.event.AuditEventListener" />
			<property name="hibernate.ejb.event.pre-collection-remove" value="org.hibernate.envers.event.AuditEventListener" />
			<property name="hibernate.ejb.event.post-collection-recreate" value="org.hibernate.envers.event.AuditEventListener" />
		    <property name="org.hibernate.envers.store_data_at_delete" value="true" />
		    <property name="org.hibernate.envers.audit_table_suffix" value="_aud" /> 
		</properties>
	</persistence-unit>
